.about{
    min-height: 100vh;
    background-color: black;
    z-index: 10;
    position: relative;
    max-width: 70rem;
    margin-top: 70vh;
    color: #049384;

    .text{
        width: 60%;
        text-align: justify;
        padding: 3rem;
        display: flex;
        align-items: center;
        font-size: 1.2rem;
    }

    .img{

        position: relative;
        display: flex;
        width: 40%;
        align-items: center;
        justify-content: center;

        .img_enclose{
            margin: auto;
            width: 12.5rem;
            position: relative;
        
        .jpg{
            width: 100%;
        }

        .bg{
            width: 110%;
            position: absolute;
            /* margin: auto; */
            transform: translateX(-50%);
            min-height: 80%;
            margin-bottom: 0;
            background: #7f8a03;
            bottom: 0;
            left: 50%;
            z-index: -1;
            border-radius: 0.7rem;
        }
        
        .socials{
            right: 0;
            transform: translateX(100%);
            align-items: end;
            margin-top: auto;
            bottom: 0;
            display: flex;
            flex-direction: column;
            z-index: 11;
            
            padding: 0.5rem 1rem;
            
            .circles {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                color: var(--tertiary-green);
                margin: 0.5rem;
                transition: all 0.3s ease-in-out;
                cursor: pointer;
                position: relative;
                
                svg{
                    width: 1.5rem;
                    height: 1.5rem;
                }
                
                &:hover{
                    color: var(--tertiary-yellow);
                }
            }
        }
    }
    }
}