.card{
    border: solid 0.2rem;
    border-color: var(--tertiary-green);
    border-radius: 0.7rem;
    width: 20rem;
    /* aspect-ratio: 1.4; */
    height: 14.2rem;
    position: relative;
    overflow: hidden;
    transition: 0.35s;
    transition-delay: 0.1s;
    display: flex;
    
    .title{
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .description{
        font-size: 1rem;
        font-weight: 500;
        padding: 0 1rem;
        text-align: justify;
    }
    
    .bg_img {
        width: 100%;
        border-radius: 0.7rem;
        object-fit: cover;
    }

    .enclose{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 1rem 0;
        background-color: #a2af198f;
        backdrop-filter: blur(1rem);
        transform: translateY(100%);
        transition-delay: 0.1s;
        transition: 0.35s;
        overflow-y: scroll;
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* Internet Explorer and Edge */
        &::-webkit-scrollbar {
            width: none; /* Chrome, Safari and Opera */
        }
    }
    
    .card_content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 0.7rem;
        text-align: center;
        color: black;

        .ongoing {
            width: fit-content;
            padding: 0 0.5rem;
            background-color: var(--tertiary-green);
            color: black;
            border-radius: 5rem;
            margin-left: 1rem;
            margin-bottom: 1rem;
            margin-right: auto;
        }
    }

    .links {
        list-style: none;
        display: flex;
        justify-content: center;
        flex-direction: row;
        padding: 0;
        gap: 1rem;

        .link{
            color: black;
            text-decoration: none;

            svg{
                width: 1.4rem;
                height: 1.4rem;
            }
        }
    }
}

.card:hover {
    .enclose {
        transform: translateY(0);
    }
}

/* .card:nth-child(3n){
    border: 0.5rem solid var(--tertiary-yellow);
} */

@media (max-width: 768px) {
    .card {
        width: 14rem;

        .title {
            font-size: 1rem;
            margin-bottom: 0.5rem;
        }
        .description {
            font-size: 0.8rem;
            padding: 0 0.5rem;
            font-weight: normal;

        }
    }

    .card:active{
        .card_content {
            transform: translateY(0);
        }
    }
}