.card{
    width: 80%;
    border-radius: 0.7rem;
    border: 0.1rem solid var(--font-green);
    color: var(--font-green);
    margin: auto;
    text-align: left;
    padding: 2rem;

    .topRow{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        
        .title {
            font-size: 1.6rem;
        }

        .date {
            font-size: 1rem;
        }
    }

    .subtitle{
        font-size: 1.2rem;
    }

    .description{
        font-size: 1rem;
        margin: 1rem;
    }
}